<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: heads"></head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/header :: navbar" th:remove="tag"></div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
						<h1 class="page-header">Başlangıç</h1>
					</div>
				</div>
				<div class="col-md-12" th:if="${checkSiparisList}">
					<div class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>İşlem yapılması beklenen siparişleriniz var..</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>