<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Ticaret Admin Paneli</title>
<link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet" />
<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" />

<script th:src="@{/resources/js/jquery.js}"></script>
<script th:src="@{/resources/js/bootstrap.js}"></script>
<script th:src="@{/resources/js/custom_script_admin.js}"></script>
<script th:src="@{/resources/js/bootstrap-select.js}"></script>
<script th:src="@{/resources/js/jquery.multiselect.js}"></script>
<script th:src="@{/resources/js/moment-with-locales.js}"></script>
<script th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
			<a class="navbar-brand" href="index">Admin Paneli</a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span th:text="${session.admin.ad} + ' ' + ${session.admin.soyad}">No Value</span><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a>
				<ul class="dropdown-menu dropdown-user">
					<li><a href="#" data-toggle="modal" data-target="#EditAdminModal"><i class="fa fa-gear fa-fw"></i>Parola Değiştir</a></li>
					<li class="divider"></li>
					<li><a th:href="@{/admin/logout}"><i class="fa fa-sign-out fa-fw"></i>Güvenli Çıkış</a></li>
				</ul>
			</li>
		</ul>
		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li class="sidebar"></li>
					<li><a href="../index"><i class="fa fa-dashboard fa-fw"></i>Başlangıç</a></li>
					<li><a href="../kategoris/list"><i class="fa fa-list fa-fw"></i>Katagori İşlemleri</a></li>
					<li><a href="../kargos/list"><i class="fa fa-truck fa-fw"></i>Kargo Servisi İşlemleri</a></li>
					<li><a href="../musteris/list"><i class="fa fa-users  fa-fw"></i>Müşteri Bilgileri</a></li>
					<li><a href="../odemeseceneks/list"><i class="fa fa-credit-card fa-fw"></i>Ödeme Seçenekleri</a></li>
					<li><a href="../sehirs/list"><i class="glyphicon glyphicon-map-marker"></i>Şehir Ayarları</a></li>
					<li><a href="../siparis/list"><i class="glyphicon glyphicon-indent-left"></i>Siparişler</a></li>
					<li><a href="../siparisdurums/list"><i class="glyphicon glyphicon-briefcase"></i>Sipariş Durum Ayarları</a></li>
					<li><a href="../uruns/list"><i class="fa fa-th fa-fw"></i>Ürünlerim</a></li>
					<li><a href="../yetkis/list"><i class="fa fa-cogs fa-fw"></i>Yetki Ayarları</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Yeni Kargo Ekleme</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Kargo Ekle</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form th:action="@{/admin/kargos/new}" th:object="${kargo}" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="col-lg-3 control-label">Kargo Adı</label>
										<div class="col-lg-5">
											<input type="text" class="form-control" th:field="*{ad}" />
											<span th:if="${#fields.hasErrors('ad')}" class="form-control" style="color: red;" th:errors="*{ad}">Name Error</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label">Açıklaması</label>
										<div class="col-lg-5">
											<input type="text" class="form-control" th:field="*{aciklama}" /><br/>
											<span th:if="${#fields.hasErrors('aciklama')}" class="form-control" style="color: red;" th:errors="*{aciklama}">Name Error</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label"></label>
										<div class="col-lg-2">
											<input type="submit" class="form-control btn btn-success" value="EKLE" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Tüm Kargo Şirketleri</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle">
							<thead>
								<tr>
									<th>Kargo ID</th>
									<th>Kargo Adı</th>
									<th>Kargo Açıklaması</th>
								</tr>
							</thead>
								<tbody th:each="kargo : ${allKargos}">
									<tr>
										<td th:text="${kargo.kargoID}"></td>
										<td th:text="${kargo.ad}"></td>
										<td th:text="${kargo.aciklama}"></td>
										<td><a href="#" data-toggle="modal" data-target="#EditKargoModal" class="btn btn-primary" th:attr="data-kargo-no=${kargo.kargoID},data-kargo-aciklama=${kargo.aciklama},data-kargo-ad=${kargo.ad}"> Değiştir <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></a></td>
										<td><a href="#" th:attr="data-href='deletekargo/'+${kargo.kargoID}" data-toggle="modal" data-target="#deleteKargoModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>

		</div>
		<div class="modal fade" id="EditKargoModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Kargo Adını Güncelle</h4>
					</div>

					<div class="modal-body">
						<form th:action="@{/admin/kargos/kargoguncelle}" th:object="${kargo}" method="post" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-5">
									<input type="hidden" class="form-control" th:field="*{kargoID}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Yeni Kargo Adı</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" th:field="*{ad}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Yeni Kargo Açıklaması</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" th:field="*{aciklama}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<input type="submit" class="form-control btn btn-warning"
										value="Güncelle" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteKargoModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Uyarı !</h4>
					</div>

					<div class="modal-body">
						<p class="bg-danger"><b>Silme işlemini onaylıyor musunuz?</b></p>
						<a href="#" class="btn btn-danger btn-lg" id="btnDeleteKargo">Onayla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>