<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: heads"></head>
<body>
<div id="wrapper">
	<div th:replace="fragments/header :: navbar" th:remove="tag"></div>
</div>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Yeni Alt Kategori Ekleme</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Alt Kategori Ekle</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form th:action="@{/admin/kategoris/altkategori/new}" th:object="${subCategory}" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="col-lg-3 control-label">Geçiş Kategorisi</label>
										<div class="col-lg-5">
											<select class="form-control" th:field="*{{kategori.kategoriID}}">
               									<option th:each="kategori : ${allKategoris}" th:value="${kategori.kategoriID}" th:text="${kategori.kategoriAdi}">Kategori</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label">Yeni Kategori Adı</label>
										<div class="col-lg-5">
											<input type="text" class="form-control" th:field="*{altKategoriAdi}" required="required"/>
											<span th:if="${#fields.hasErrors('altKategoriAdi')}" class="form-control" style="color: red;" th:errors="*{altKategoriAdi}">Name Error</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label"></label>
										<div class="col-lg-2">
											<input type="submit" class="form-control btn btn-success" value="EKLE" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Yeni Kategori Ekleme</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Kategori Ekle</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form th:action="@{/admin/kategoris/kategori/new}" th:object="${category}" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="col-lg-3 control-label">Geçiş Kategorisi</label>
										<div class="col-lg-5">
											<select class="form-control" th:field="*{{ustKategori.ustKategoriID}}">
												<option th:each="ustKategori : ${allUstKategoris}"  th:value="${{ustKategori.ustKategoriID}}"  th:text="${ustKategori.ustKategoriAdi}">Wireframe</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label">Yeni Kategori Adı</label>
										<div class="col-lg-5">
											<input type="text" class="form-control" th:field="*{kategoriAdi}" required="required"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label"></label>
										<div class="col-lg-2">
											<input type="submit" class="form-control btn btn-success" value="EKLE" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Yeni Üst Kategori Ekleme</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Üst Kategori Ekle</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form th:action="@{/admin/kategoris/ustkategori/new}" th:object="${upCategory}" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="col-lg-3 control-label">Yeni Kategori Adı</label>
										<div class="col-lg-5">
											<input type="text" class="form-control" th:field="*{ustKategoriAdi}"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label"></label>
										<div class="col-lg-2">
											<input type="submit" class="form-control btn btn-success" value="EKLE" required="required"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Tüm Alt Kategoririler</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle">
							<thead>
								<tr>
									<th>Alt Kategori ID</th>
									<th>Alt Kategori Adı</th>
									<th>Bir Üst Kategori Adı</th>
								</tr>
							</thead>
								<tbody th:each="altKategori : ${allAltKategoris}">
									<tr>
										<td th:text="${altKategori.altKategoriID}"></td>
										<td th:text="${altKategori.altKategoriAdi}"></td>
										<td th:text="${altKategori.kategori.kategoriAdi}"></td>
										<td><a href="#" data-toggle="modal" data-target="#EditAltKategoriModal" class="btn btn-primary" th:attr="data-altkategori-no=${altKategori.altKategoriID},data-altkategori-ad=${altKategori.altKategoriAdi}"> Değiştir <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></a></td>
										<td><a href="#" th:attr="data-href='deletealtkatagori/'+${altKategori.altKategoriID}" data-toggle="modal" data-target="#deleteKategoriModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Kategoririler</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle">
							<thead>
								<tr>
									<th>Kategori ID</th>
									<th>Kategori Adı</th>
									<th>Üst Kategori Adı</th>
								</tr>
							</thead>
								<tbody th:each="kategori : ${allKategoris}">
									<tr>
										<td th:text="${kategori.kategoriID}"></td>
										<td th:text="${kategori.kategoriAdi}"></td>
										<td th:text="${kategori.ustKategori.ustKategoriAdi}"></td>
										<td><a href="#" data-toggle="modal" data-target="#EditKategoriModal" class="btn btn-primary" th:attr="data-kategori-no=${kategori.kategoriID},data-kategori-ad=${kategori.kategoriAdi}"> Değiştir <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></a></td>
										<td><a href="#" th:attr="data-href='deletekatagori/'+${kategori.kategoriID}" data-toggle="modal" data-target="#deleteKategoriModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Tüm Üst Kategoriler</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle">
							<thead>
								<tr>
									<th>Üst Kategori ID</th>
									<th>Üst Kategori Adı</th>
								</tr>
							</thead>
								<tbody th:each="ustKategori : ${allUstKategoris}">
									<tr>
										<td th:text="${ustKategori.ustKategoriID}"></td>
										<td th:text="${ustKategori.ustKategoriAdi}"></td>
										<td><a href="#" data-toggle="modal" data-target="#EditUstKategoriModal" class="btn btn-primary" th:attr="data-ustkategori-no=${ustKategori.ustKategoriID},data-ustkategori-ad=${ustKategori.ustKategoriAdi}"> Değiştir <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></a></td>
										<td><a href="#" th:attr="data-href='deleteustkatagori/'+${ustKategori.ustKategoriID}" data-toggle="modal" data-target="#deleteKategoriModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="EditAltKategoriModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">AltKategori Güncelle</h4>
					</div>

					<div class="modal-body">
						<form th:action="@{/admin/kategoris/altkatagoriguncelle}" th:object="${subCategory}" method="post" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-5">
									<input type="hidden" class="form-control" th:field="*{altKategoriID}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Yeni Kategori Adı</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" th:field="*{altKategoriAdi}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Geçiş Kategorisi</label>
								<div class="col-lg-5">
									<select class="form-control" th:field="*{{kategori.kategoriID}}">
										<option th:each="kategori : ${allKategoris}"
											th:value="${kategori.kategoriID}"
											th:text="${kategori.kategoriAdi}">Kategori</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<input type="submit" class="form-control btn btn-warning"
										value="Güncelle" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="EditKategoriModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Kategori Güncelle</h4>
					</div>

					<div class="modal-body">
						<form th:action="@{/admin/kategoris/katagoriguncelle}" th:object="${category}" method="post" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-5">
									<input type="hidden" class="form-control" th:field="*{kategoriID}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Yeni Kategori Adı</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" th:field="*{kategoriAdi}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Üst Kategorisi</label>
								<div class="col-lg-5">
									<select class="form-control" th:field="*{{ustKategori.ustKategoriID}}">
										<option th:each="ustkategori : ${allUstKategoris}"
											th:value="${ustkategori.ustKategoriID}"
											th:text="${ustkategori.ustKategoriAdi}">ÜstKategori</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<input type="submit" class="form-control btn btn-warning"
										value="Güncelle" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="EditUstKategoriModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">ÜstKategori Güncelle</h4>
					</div>

					<div class="modal-body">
						<form th:action="@{/admin/kategoris/ustkatagoriguncelle}" th:object="${upCategory}" method="post" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-5">
									<input type="hidden" class="form-control" th:field="*{ustKategoriID}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Yeni Kategori Adı</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" th:field="*{ustKategoriAdi}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<input type="submit" class="form-control btn btn-warning"
										value="Güncelle" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="deleteKategoriModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Uyarı !</h4>
					</div>

					<div class="modal-body">
						<p class="bg-danger"><b>Silme işlemini onaylıyor musunuz?</b></p>
						<a href="#" class="btn btn-danger btn-lg" id="btnDeleteKategori">Onayla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>