<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: heads"></head>
<body>
<div id="wrapper">
	<div th:replace="fragments/header :: navbar" th:remove="tag"></div>
</div>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Müşteriler</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle">
							<thead>
								<tr>
									<th>TC Kimlik No</th>
									<th>Ad</th>
									<th>Soyad</th>
									<th>Adres</th>
									<th>Şehri</th>
									<th>Telefon Numarası</th>
									<th>Cep Numarası</th>
									<th>E-Posta Adresi</th>
									<th>Kayıt Tarihi</th>
									<th data-sort-ignore="true">İşlem</th>
								</tr>
							</thead>
								<tbody th:each="musteri : ${allMusteris}">
									<tr>
										<td th:text="${musteri.tcno}"></td>
										<td th:text="${musteri.ad}"></td>
										<td th:text="${musteri.soyad}"></td>
										<td th:text="${musteri.adres}"></td>
										<td th:text="${musteri.sehir.sehirAdi}"></td>
										<td th:text="${musteri.telefonNo}"></td>
										<td th:text="${musteri.cepNo}"></td>
										<td th:text="${musteri.eposta}"></td>
										<td th:text="${musteri.kayitTarihi}"></td>
										<td><a href="#" th:attr="data-href='deletemusteri/'+${musteri.musteriID}" data-toggle="modal" data-target="#deleteMusteriModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>

		</div>
		<div class="modal fade" id="deleteMusteriModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Uyarı !</h4>
					</div>

					<div class="modal-body">
						<p class="bg-danger"><b>Silme işlemini onaylıyor musunuz?</b></p>
						<a href="#" class="btn btn-danger btn-lg" id="btnDeleteMusteri">Onayla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>