<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: heads"></head>
<body>
<div id="wrapper">
	<div th:replace="fragments/header :: navbar" th:remove="tag"></div>
</div>
<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Yeni Ödeme Seçeneği Ekleme</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Ödeme Seçeneği Ekle</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form th:action="@{/admin/odemeseceneks/new}" th:object="${odemeSecenek}" method="post">
									<div class="form-group">
										<label class="col-lg-3 control-label">Ödeme Seçeneği Adı</label>
										<div class="col-lg-5">
											<input type="text" class="form-control" th:field="*{OdemeTipi}" />
											<span th:if="${#fields.hasErrors('odemeTipi')}" class="form-control" style="color: red;" th:errors="*{odemeTipi}">Name Error</span>
											<input type="submit" class="btn btn-success" value="EKLE" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Tüm Ödeme Seçenekleri</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle" id="derslikler">
							<thead>
								<tr>
									<th>ÖdemeSeçenek ID</th>
									<th>Ödeme Seçenek Tipi</th>
								</tr>
							</thead>
								<tbody th:each="otipi : ${allOdemeSeceneks}">
									<tr>
										<td th:text="${otipi.odemeSecenekID}"></td>
										<td th:text="${otipi.odemeTipi}"></td>
										<td><a href="#" data-toggle="modal" data-target="#EditOdemeModal" class="btn btn-primary" th:attr="data-odeme-no=${otipi.odemeSecenekID},data-odeme-ad=${otipi.odemeTipi}"> Değiştir <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></a></td>
										<td><a href="#" th:attr="data-href='deleteodemesecenegi/'+${otipi.odemeSecenekID}" data-toggle="modal" data-target="#deleteOdemeModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>

		</div>
		<div class="modal fade" id="EditOdemeModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">ÖdemeTipi Adını Güncelle</h4>
					</div>

					<div class="modal-body">
						<form th:action="@{/admin/odemeseceneks/odemesecenekguncelleme}" th:object="${odemeSecenek}" method="post" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-5">
									<input type="hidden" class="form-control" th:field="*{odemeSecenekID}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Yeni Ad</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" th:field="*{odemeTipi}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<input type="submit" class="form-control btn btn-warning"
										value="Güncelle" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteOdemeModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Uyarı !</h4>
					</div>

					<div class="modal-body">
						<p class="bg-danger"><b>Silme işlemini onaylıyor musunuz?</b></p>
						<a href="#" class="btn btn-danger btn-lg" id="btnDeleteOdeme">Onayla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>