<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Ticaret Admin Paneli</title>
<link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet" />
<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" />

<script th:src="@{/resources/js/jquery.js}"></script>
<script th:src="@{/resources/js/bootstrap.js}"></script>
<script th:src="@{/resources/js/custom_script_admin.js}"></script>
<script th:src="@{/resources/js/bootstrap-select.js}"></script>
<script th:src="@{/resources/js/jquery.multiselect.js}"></script>
<script th:src="@{/resources/js/moment-with-locales.js}"></script>
<script th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
			<a class="navbar-brand" href="index">Admin Paneli</a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="${session.admin.ad} + ' ' + ${session.admin.soyad}">No Value</span> <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a>
				<ul class="dropdown-menu dropdown-user">
					<li><a href="#" data-toggle="modal" data-target="#EditAdminModal"><i class="fa fa-gear fa-fw"></i>Parola Değiştir</a></li>
					<li class="divider"></li>
					<li><a href="logout"><i class="fa fa-sign-out fa-fw"></i>Güvenli Çıkış</a></li>
				</ul>
			</li>
		</ul>
		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li class="sidebar"></li>
					<li><a href="../index"><i class="fa fa-dashboard fa-fw"></i>Başlangıç</a></li>
					<li><a href="../kategoris/list"><i class="fa fa-list fa-fw"></i>Katagori İşlemleri</a></li>
					<li><a href="../kargos/list"><i class="fa fa-truck fa-fw"></i>Kargo Servisi İşlemleri</a></li>
					<li><a href="../musteris/list"><i class="fa fa-users  fa-fw"></i>Müşteri Bilgileri</a></li>
					<li><a href="../odemeseceneks/list"><i class="fa fa-credit-card fa-fw"></i>Ödeme Seçenekleri</a></li>
					<li><a href="../sehirs/list"><i class="glyphicon glyphicon-map-marker"></i>Şehir Ayarları</a></li>
					<li><a href="../siparis/list"><i class="glyphicon glyphicon-indent-left"></i>Siparişler</a></li>
					<li><a href="../siparisdurums/list"><i class="glyphicon glyphicon-briefcase"></i>Sipariş Durum Ayarları</a></li>
					<li><a href="../uruns/list"><i class="fa fa-th fa-fw"></i>Ürünlerim</a></li>
					<li><a href="../yetkis/list"><i class="fa fa-cogs fa-fw"></i>Yetki Ayarları</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
	<div id="page-wrapper" class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" style="margin-top: -8px">
					<h1 style="color: #000000;">Siparişler</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="footable table table-bordered toggle-circle">
							<thead>
								<tr>
									<th>Durum</th>
									<th>Adı- Soyadı</th>
									<th>UrunAdi</th>
									<th>Adet</th>
									<th>Fiyat</th>
									<th>OdemeTipi</th>
									<th>Kargo Şirketi</th>
									<th>Veriliş Tarihi</th>
									<th>Tahmini teslim Tarihi</th>
									<th>Teslim Edilecek Adres</th>
									<td data-sort-ignore="true"></td>
									<td data-sort-ignore="true"></td>
								</tr>
							</thead>
								<tbody th:each="siparis : ${allSipariss}">
									<tr>
										<td th:text="${siparis.siparisDurum.durum}"></td>
										<td th:text="${siparis.musteri.ad} - ${siparis.musteri.soyad}"></td>
										<td th:text="${siparis.urun.urunAdi}"></td>
										<td th:text="${siparis.adet}"></td>
										<td th:text="${siparis.fiyat}"></td>
										<td th:text="${siparis.odemeSecenek.odemeTipi}"></td>
										<td th:text="${siparis.kargo.ad}"></td>
										<td th:text="${siparis.verilisTarihi}"></td>
										<td th:text="${siparis.teslimTarihi}"></td>
										<td th:text="${siparis.teslimEdilecekAdres}"></td>
										<td><a href="#" data-toggle="modal" data-target="#EditSiparisModal" class="btn btn-primary" th:attr="data-siparis-no=${siparis.siparisID},data-siparis-teslimtarihi=${siparis.teslimTarihi}"> Değiştir <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></a></td>
										<td><a href="#" th:attr="data-href='deletesiparis/'+${siparis.siparisID}" data-toggle="modal" data-target="#deleteSiparisModal" class="btn btn-danger">Sil<i class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
							</tbody>

							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="EditSiparisModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Sipariş Bilgilerini Güncelle</h4>
					</div>
					<div class="modal-body">
						<form th:action="@{/admin/siparis/siparisguncelle}" th:object="${siparis}" method="post" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-5">
									<input type="hidden" class="form-control" th:field="*{siparisID}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Sipariş Durumu</label>
								<div class="col-lg-5">
									<select class="form-control" th:field="*{{siparisDurum.siparisDurumID}}">
										<option th:each="sdurum : ${allSiparisDurums}"
											th:value="${sdurum.siparisDurumID}"
											th:text="${sdurum.durum}">SDurum Yüklenemedi!</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Kargo Şirketi</label>
								<div class="col-lg-5">
									<select class="form-control" th:field="*{{kargo.kargoID}}">
										<option th:each="kargo : ${allKargos}"
											th:value="${kargo.kargoID}"
											th:text="${kargo.ad}">Kargolar Yüklenemedi!</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Ürün Adı</label>
								<div class="col-lg-5">
									<input type="date" class="form-control" name="teslimTarihi" th:value="${#dates.format(date, 'dd/MM/yyyy HH:mm')}"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<input type="submit" class="form-control btn btn-warning"
										value="Güncelle" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteSiparisModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Uyarı !</h4>
					</div>

					<div class="modal-body">
						<p class="bg-danger"><b>Silme işlemini onaylıyor musunuz?</b></p>
						<a href="#" class="btn btn-danger btn-lg" id="btnDeleteSiparis">Onayla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>